

  /*product list.html  */

  img{
    max-width: 100%;
  }

  .subtle{
color: ivory;
  }

.productlist main{
display: grid;
grid-template-columns: repeat( auto-fill, minmax(50px));

}

.productlist article.soldOut img{
  opacity: 0.5;

}

.productlist article.soldOut::before{
content: "Sold Out";
position: absolute;
background: var(--color);
color: var(--background-color);
padding: 1rem;

}

.productlist article .discounted,
.productlist article .price span{
  display: none;
}

.productlist article .onSale .discounted {
  display: flex;
  justify-content: space-between;
}

.productlist article.onSale .price span{
  display: initial;
}

.discounted > p {
  margin-bottom: 0;
}
.productlist article.onSale .price span {
  display: initial;
}
.productlist article button {
  margin-top: auto;
}
.productlist article {
  margin-bottom: 1rem;
}
.discounted p:last-child {
  background: var(--off-color);
  padding: 0.2rem;
}

/*Product*/

.breadcrumbs {
  list-style-type: none;
  display: flex;
}
.breadcrumbs li::after {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  content: "";
  transition: all 0.3s; 
  font-family: 'Oswald', sans-serif;

  background: none;
}
.purchaseBox {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
}
.info {
  padding: 1rem;
}
.product select {
  min-width: 100px;
}
.product main {
  display: grid;
}
.product main .breadcrumbs,
.product main img {
  grid-column: 1/-1;
}
.purchaseBox form label {
  gap: 1rem;
}
.purchaseBox button {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .product main {
    grid-template-columns: 1fr 310px;
  }
  .info {
    order: 0;
  }
  .purchaseBox {
    order: 2;
    transform: translate(-50px, -100px);
  }
}

/*category.html*/


.seasons{
  display: inline-flex;
  grid-template-columns: 100px 100px 100px 100px; 


}

#summer{
display: grid;
grid-area: 2/ 3 / 2/ 4;
grid-auto-rows: minmax( 150px, auto);
text-align: center;
background-color: transparent;

}

#winter{

  
}

#fall{

  
}

#spring{

  
}



  /* code from previous code 
  
  

.mainNav{
display: flex;
justify-content: center;
align-items: flex-start;
}



@media only screen and (max-width:600px)
{
 
}
*/



:root {
  --main-color: --off-color;
  --secondary-color: black;
  --header-font:Oswald;
  --body-font: Oswald ;

}

.mainNav{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  }
  

body {
  background: var(--main-color);
  font-family: var(--body-font);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--body-font);
  color: var(--secondary-color);
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


/*home page*/

.home {
  background-image: linear-gradient;
  font-size: 2rem;

}

