/* static hover or any hover state and cool fonts that are close to the dummy */

/* use adobe color to grab colors */

/* make responsive , spacing, padding margins*/

/*  branch for each section and merge */

:root {
  /* x */
  /* --header-font: fantasy; */
  /* --body-font: curs; */
  --main-color: #f4f4f4;
}

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 100%;
  margin: 0;
}

#wrapper {
  max-width: 1600px;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

nav ul a:hover {
  background-color: white;
}

nav a {
  display: flex;
  gap: 1rem;
  align-items: center;
}
a {
  /* controls font color */
  text-decoration: none;
  color: var(--color-black-200);
}
nav {
  /* on larger screen sizes we want the item on a row */
  /* background-color: var (--color--blue-50); */
  background: var(rgb(34, 193, 195));
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  font-size: 1.2rem;
  font-weight: 500;
  width: 300px;
  /* controls width of nav bar */
  min-width: 100vh;
}

nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  /* so it can display down.. on example */
  flex-direction: row;
  /* fix gaps */
  gap: 1rem;
  justify-content: space-between;
}

.active {
  display: inline;
  list-style: none;
  /* color: var(--color-red-200); */
  color: var(--color-teal-400);
}

/* nav ul:last-child {
} */

/* content stuff below */

main {
  background-color: wheat;
  background: var(--color-white);
  padding: 4rem;
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content > * {
  min-height: 100px;
  border-radius: 50px;
  background-color: violet;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-top: 2rem;
}

.search {
  grid-column: 1;
  grid-row: span 2;
}

.text {
  grid-row: 1/-1;
}

.photos {
  grid-row: 2;
}

.menu {
  grid-column: 1;
  grid-row: 2;
}

/* overall grid content */
@media only screen and (max-width: 600px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
